<h1>PRODUCT INFO</h1>

<p>This component demonstrates PRODUCT info  fetched from  my own data base.</p>

<p *ngIf="!productinfos"><em>Loading...</em></p>

<table class='table' *ngIf="productinfos">
    <thead>
        <tr>
            <th>ID</th>
            <th>GroupID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Rateee</th>
            <th>  </th>
        </tr> 
    </thead>
    <tbody>
        <tr *ngFor="let productinfo of productinfos">
            <td>{{ productinfo.id }}</td>
            <td>{{ productinfo.groupID }}</td>
            <td>{{ productinfo.name }}</td>
            <td>{{ productinfo.description }}</td>
            <td>{{ productinfo.rate }}</td>
            <td><button class="btn btn-danger" [routerLinkActive]="['link-active']" [routerLink]="['/delete']"(click)="delete(productinfo.id)">DELETE</button></td>
        </tr>
    </tbody>
</table>

<button class="btn btn-primary" [routerLinkActive]="['link-active']" [routerLink]="['/postform']"> Post new data </button>

